<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.xb.mapper.FileRecordMapper">

    <resultMap type="FileRecord" id="fileResult">
        <id property="fileId" column="file_id"/>
        <result property="recordId" column="record_id"/>
        <result property="fileName" column="file_name"/>
        <result property="filePath" column="file_path"/>
        <result property="fileFullPath" column="file_full_path"/>
        <result property="fileExt" column="file_ext"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
        <result property="remark" column="remark"/>
    </resultMap>
    <select id="fileList" parameterType="FileRecord" resultMap="fileResult">
        select  *  from  file
        WHERE
        file.status = '0'
        <if test="recordId != null and recordId != ''">
            and file.record_id = #{recordId}
        </if>
    </select>
    <select id="fileListById" parameterType="Integer" resultType="com.example.xb.mapper.FileRecordMapper">
        select  *  from  file
        WHERE
        file.status = '0'
        <if test="recordId != null and recordId != ''">
            and file.record_id = #{recordId}
        </if>
    </select>
    <insert id="saveFile" parameterType="FileRecord">
        insert into file(
        <if test="fileId != null and fileId != ''">file_id,</if>
        <if test="recordId != null and recordId != ''">record_id,</if>
        <if test="fileName != null and fileName != ''">file_name,</if>
        <if test="filePath != null and filePath != ''">file_path,</if>
        <if test="fileFullPath != null and fileFullPath != ''">file_full_path,</if>
        <if test="fileExt != null and fileExt != ''">file_ext,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_at,
        update_at
        )values(
        <if test="fileId != null and fileId != ''">#{fileId},</if>
        <if test="recordId != null and recordId != ''">#{recordId},</if>
        <if test="fileName != null and fileName != ''">#{fileName},</if>
        <if test="filePath != null and filePath != ''">#{filePath},</if>
        <if test="fileFullPath != null and fileFullPath != ''">#{fileFullPath},</if>
        <if test="fileExt != null and fileExt != ''">#{fileExt},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate(),
        sysdate()
        )
    </insert>
</mapper>