<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.xb.mapper.ProductgMapper">
    <resultMap type="ProductgVo" id="productgResult">
        <id property="productgId" column="productg_id"/>
        <result property="productId" column="product_id"/>
        <result property="price" column="price"/>
        <result property="totalStock" column="total_stock"/>
        <result property="lockStock" column="lock_stock"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
        <result property="remark" column="remark"/>
        <collection property="attrList" javaType="java.util.ArrayList" ofType="AttrSon" select="com.example.xb.mapper.ProductAttrMapper.productAttrDetailList" column="{productgId=productg_id}"/>
    </resultMap>
    <resultMap type="ProductgVo" id="productgAllResult">
        <id property="productgId" column="productg_id"/>
        <result property="productId" column="product_id"/>
        <result property="price" column="price"/>
        <result property="totalStock" column="total_stock"/>
        <result property="lockStock" column="lock_stock"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
        <result property="remark" column="remark"/>
        <association property="product" javaType="Product" column="product_id" select="com.example.xb.mapper.ProductMapper.productBaseList"/>
        <collection property="attrList" javaType="java.util.ArrayList" ofType="AttrSon" select="com.example.xb.mapper.ProductAttrMapper.productAttrDetailList" column="{productgId=productg_id}"/>
    </resultMap>
    <select id="productgList" resultMap="productgResult">
        select  pg.*,ps.total_stock,ps.lock_stock  from  productg pg
        LEFT JOIN productg_stock ps
        on ps.productg_id = pg.productg_id
        WHERE
        pg.status = '0'
        <if test="productId != null and productId != ''">
            and pg.product_id = #{productId}
        </if>
    </select>

    <select id="productgListAll" resultMap="productgAllResult">
        select  pg.*,ps.total_stock,ps.lock_stock  from  productg pg
        LEFT JOIN productg_stock ps
        on ps.productg_id = pg.productg_id
        WHERE
        pg.status = '0'
        <if test="productId != null and productId != ''">
            and pg.product_id = #{productId}
        </if>
    </select>

    <insert id="batchSaveProductg" parameterType="list">
        insert into productg(
        productg_id,
        product_id,
        price,
        status,
        remark,
        create_by,
        create_at,
        update_at
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.productgId},
            #{item.productId},
            #{item.price},
            #{item.status},
            #{item.remark},
            #{item.createBy},
            sysdate(),
            sysdate()
            )
        </foreach>
    </insert>

    <delete id="deleteProductgById" parameterType="String">
 		delete from productg where product_id = #{productId}
 	</delete>
</mapper>