<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.xb.mapper.UserMapper">

    <resultMap type="User" id="userResult">
        <id property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <select id="selectUserList" parameterType="User" resultMap="userResult">
        select  *  from  user
        WHERE
          user.status = '0'
        <if test="nickName != null and nickName != ''">
            and user.nick_name
            like CONCAT('%',#{nickName},'%')
        </if>
    </select>

    <select id="queryByUserName" parameterType="String" resultMap="userResult">
        select  *  from  user
        WHERE
        user.status = '0'
        <if test="nickName != null and nickName != ''">
            and user.user_name= #{userName}
        </if>
    </select>

    <select id="userLogin" parameterType="User" resultType="String">
        select  user_id  from  user
        WHERE
        user.status = '0'
        <if test="userName != null and userName != ''">
            and user.user_name = #{userName}
        </if>
        <if test="password != null and password != ''">
            and user.password = #{password}
        </if>
    </select>

    <select id="queryPasswordById" parameterType="String" resultType="String">
        select  password  from  user
        WHERE
        user.status = '0'
        <if test="userId != null and userId != ''">
            and user.user_id = #{userId}
        </if>
    </select>

    <select id="queryCountByName" parameterType="String" resultType="int">
        select  count(user_id)  from  user
        <if test="userName != null and userName != ''">
            WHERE
            user.user_name = #{userName}
        </if>
    </select>

    <select id="queryCountById" parameterType="String" resultType="int">
        select  count(user_id)  from  user
        <if test="userId != null and userId != ''">
            WHERE
            user.user_id = #{userId}
        </if>
    </select>

    <insert id="saveUser" parameterType="User">
        insert into user(
        <if test="userId != null and userId != ''">user_id,</if>
        <if test="roleId != null and roleId != ''">role_id,</if>
        <if test="phone != null and phone != ''">phone,</if>
        <if test="userName != null and userName != ''">user_name,</if>
        <if test="nickName != null and nickName != ''">nick_name,</if>
        <if test="password != null and password != ''">password,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_at,
        update_at
        )values(
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="roleId != null and roleId != ''">#{roleId},</if>
        <if test="phone != null and phone != ''">#{phone},</if>
        <if test="userName != null and userName != ''">#{userName},</if>
        <if test="nickName != null and nickName != ''">#{nickName},</if>
        <if test="password != null and password != ''">#{password},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate(),
        sysdate()
        )
    </insert>

    <update id="updateUser" parameterType="User">
        update user
        <set>
            <if test="roleId != null and roleId != ''">role_id = #{roleId},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="nickName != null and nickName != ''">nick_name = #{nickName},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_at = sysdate()
        </set>
        where user_id = #{userId}
    </update>

    <update id="updatePassword" parameterType="Password">
        update user
        <set>
            <if test="newPassword != null and newPassword != ''">password = #{newPassword},</if>
            update_at = sysdate()
        </set>
        where user_id = #{userId}
    </update>

    <delete id="deleteUserById" parameterType="String">
 		delete from user where user_id = #{userId}
 	</delete>

</mapper>